body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
@media (max-width: 900px) {
  .about-section {
    text-align: center;
    padding: 0;
  }
  h1 {
    font-size: 44px;
    line-height: 56px;
}
}
.about-section-content {
  margin: 30px;
}
.about-section h1 {
    font-size: 64px;
    line-height: 80px;
}
.about-section h2 {
    font-size: 18px;
    font-family: var(--default-font-family);
}
h1, h2 {
    color: black;
    font-family: var(--heading-font-family);
    font-weight: bold;
}
p {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
}
.btn-branding {
    background: var(--branding-color);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
div {
    display: block;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}